@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  cursor: default;
}

a {
  text-decoration: none;
  color: currentColor;
}

.wrapper {
  margin: 0 5%;
}

@media screen and (min-width: 1000px) {
  .wrapper {
    margin: 0 auto;
    width: 100rem;
    padding-left: 4rem;
  }
}
body {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: black;
  background-color: white;
  font-size: 1.2rem;
}

.search {
  width: 98%;
  margin: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  flex-direction: column;
}
.search__input {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 100%;
}
.search__input input {
  padding-left: 2rem;
  width: 100%;
  height: 5rem;
  border-radius: 3px;
  background-color: #e7e7e7;
  border: none;
  outline: #ce5052;
  font-size: 1.4rem;
}
.search__input input::placeholder {
  font-size: 1.4rem;
}
.search__select {
  display: flex;
  justify-content: flex-start;
  margin-top: 2rem;
  position: relative;
  width: 100%;
}

.fas.fa-search {
  font-size: 2rem;
  position: relative;
  align-self: center;
  right: 4rem;
}

.recipe {
  min-width: 25rem;
  max-width: 35rem;
  height: 30rem;
  border-radius: 3px;
  flex-basis: 30%;
  background-color: #e7e7e7;
  margin: 1rem;
  overflow: hidden;
}
.recipe__image {
  height: 50%;
  width: 100%;
  background-color: #c7bebe;
  border: none;
}
.recipe__info {
  padding: 0 1rem 2rem 1rem;
  height: 50%;
  display: flex;
  align-items: baseline;
  flex-direction: column;
}
.recipe__info__first-element {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.recipe__info__first-element__title {
  font-weight: 400;
  font-size: 1.4rem;
}
.recipe__info__first-element__time {
  font-weight: 600;
}
.recipe__info__second-element {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  text-overflow: ellipsis;
}
.recipe__info__second-element__ingredients {
  height: 100%;
  font-size: 1.1rem;
  flex-basis: 50%;
}
.recipe__info__second-element__instructions {
  height: 90%;
  padding-bottom: 2rem;
  flex-basis: 50%;
  font-size: 1rem;
  font-weight: 600;
}

.custom-select {
  position: relative;
  width: 12rem;
  display: flex;
  flex-direction: column;
  border: none;
}
.custom-select:not(:last-child) {
  margin-right: 1rem;
}
.custom-select__trigger {
  width: 12rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  color: white;
  height: 5rem;
  background-color: blue;
  cursor: pointer;
  border-radius: 3px;
}
.custom-select__trigger:hover {
  opacity: 0.8;
}
.custom-select__trigger:focus {
  opacity: 0.8;
}

.custom-options {
  position: absolute;
  display: block;
  padding: 0 10px;
  top: 100%;
  left: 0;
  right: 0;
  border-top: 0;
  background-color: red;
  transition: all 0.5s;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 2;
}
.custom-options:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.custom-select.open .custom-options {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.custom-option {
  position: relative;
  display: block;
  padding: 12px 0px;
  color: white;
  height: 4rem;
  cursor: pointer;
  text-align: left;
  border-top: 1px solid rgba(255, 255, 255, 0.6);
  transition: all 0.25s;
}
.custom-option:hover {
  background-color: red;
  color: black;
  cursor: pointer;
  font-size: 1.5rem;
}
.custom-option:focus {
  background-color: red;
  color: black;
}

.custom-option.selected {
  color: white;
  background-color: red;
  display: none;
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: 1rem;
}

.arrow::before,
.arrow::after {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.25s;
}

.arrow::after {
  left: -2.5px;
  transform: rotate(-45deg);
  background-color: white;
}

.arrow::before {
  left: 4.5px;
  transform: rotate(45deg);
  background-color: white;
}

.open .arrow::after {
  left: -2.5px;
  transform: rotate(45deg);
}

.open .arrow::before {
  left: 4.5px;
  transform: rotate(-45deg);
}

.--ingredient {
  background-color: #3282f7;
}

.--appliance {
  background-color: #68d9a4;
}

.--device {
  background-color: #ed6454;
}

.header {
  display: flex;
  justify-content: center;
  width: 98%;
}
.header__logo {
  margin-top: 5rem;
  width: 25rem;
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin: 2rem -1rem 0 -1rem;
}

/*# sourceMappingURL=style.css.map */
