.custom-option {
  flex-basis: 30%;
  position: relative;
  display: block;
  //padding: 12px 0px;
  color: white;
  height: 2rem;
  cursor: pointer;
  text-align: left;
  transition: all 0.25s;
  &:hover {
    color: black;
    cursor: pointer;
  }
  &:focus {
    color: black;
  }

  & .--ingredient {
    background-color: #3282f7;
  }
}

.custom-option.selected {
  color: white;
  display: block;
  & .--ingredient {
    background-color: #3282f7;
  }
}

.arrow {
  position: relative;
  height: 10px;
  width: 10px;
  margin-left: -2.5rem;
}
.arrow::before,
.arrow::after {
  content: '';
  position: absolute;
  bottom: 0px;
  width: 0.15rem;
  height: 100%;
  transition: all 0.25s;
}
.arrow::after {
  left: -2.5px;
  transform: rotate(-45deg);
  background-color: white;
}
.arrow::before {
  left: 4.5px;
  transform: rotate(45deg);
  background-color: white;
}
.open .arrow::after {
  left: -2.5px;
  transform: rotate(45deg);
}
.open .arrow::before {
  left: 4.5px;
  transform: rotate(-45deg);
}

.--ingredient {
  background-color: #3282f7;
}

.--appliance {
  background-color: #68d9a4;
}

.--device {
  background-color: #ed6454;
}

.none {
  display: none;
}
.show {
  display: flex;
}
